/* Mobile first */
body {
    background-color: #A1C2F1;
    width: 150px;
    height: 800px;
    margin: 0 auto;
    font-family: sans-serif;
}

p {
    color: #ffffff;
    font-size: 20px;
    margin-top: 50px;
    font-style: italic;
    text-align: center;
    position: relative;
    font-weight: bold;
    left: 25px;
}

h1 {
    color: #ffffff;
    position: relative;
    left: 40px;
    font-size: 50px;
}

button {
    display: block;
    font-weight: bold;
    background-color: #E7CEA6;
    padding: 10px;
    box-sizing: border-box;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    border-color: #E7CEA6;
    box-shadow: 2px 2px #888888;
}

button:first-child {
    margin-bottom: 10px;
}

button:hover {
    cursor: pointer;
}

header {
    margin-bottom: 150px;
}

/* Ipad */
@media screen and (min-width: 750px) {

    body {
        width: 450px;
        margin: 0 auto;
    }

    button {
        display: inline-block;
    }

    button:first-child {
        margin-right: 10px;
    }

    h1 {
        left: 80px;
    }

    p {
        left: 0;
    }
}

@media screen and (min-width: 950px) {

    body {
        width: 500px;
        margin: 0 auto;
    }
    button:first-child {
        margin-right: 50px;
    }

    button {
        height: 50px;
    }

    p {
        font-size: 15px;
    }

    h1 {
        left: 100px;
    }
}

